header {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #F2F5F6;
}

.container {
  position: relative;
  height: 50px;
  width: 1750px;
  margin: 20px auto 0;
}

.pic-wrapper {
  position: absolute;
  width: 236px;
  margin: 14px 7px 0;
  background-color: #C9D1D5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
}

.pic img {
  width:100%;
}

.title {
  margin: -3px 0 0;
  padding: 0 10px;
}

.title p {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 20px;
}

@media screen and (max-width:1750px) {
  .container {
    width: 1500px;
  }
}

@media screen and (max-width:1500px) {
  .container {
    width: 1250px;
  }
}

@media screen and (max-width:1250px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 750px;
  }
}